<div class="container">
    <h3>Liste des Game</h3>

    <button @onclick="LoadData">Recharger</button>

    @foreach (GameDTO g in GameList) {
        <p> @g.Title 
            <button @onclick="() => ShowDetails(g.Id)">Détails</button> 
            <button @onclick="() => ShowUpdate(g.Id)">Modifier</button>
        </p>
    }
</div>
