<div class="card">
    <div class="card-title bg-info">
        Ajout d'un Gamer
    </div>
    <div class="card-body">
        <EditForm Model="GamerForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div>
                Pseudo : <InputText class="form-control form-control-sm" @bind-Value="GamerForm.Pseudo" />
                <ValidationMessage For="() => GamerForm.Pseudo" />
            </div>
            <div>
                Email : <InputText class="form-control form-control-sm" @bind-Value="GamerForm.Email" />
                <ValidationMessage For="() => GamerForm.Email" />
            </div>
            <div>
                Date de naissance : <InputDate class="form-control form-control-sm" @bind-Value="GamerForm.BirthDate" />
                <ValidationMessage For="() => GamerForm.BirthDate" />
            </div>
            <div>
                Mot de passe : <InputText type="password" class="form-control form-control-sm" @bind-Value="GamerForm.Password" />
                <ValidationMessage For="() => GamerForm.Password" />
            </div>
            <div>
                Confirmation : <InputText type="password" class="form-control form-control-sm" @bind-Value="GamerForm.PasswordConfirm" />
                <ValidationMessage For="() => GamerForm.PasswordConfirm" />
            </div>
        <div><button type="submit" class="btn btn-outline-success">Valider</button></div>
        </EditForm>
    </div>
</div>